<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucd.urbanflow.mapper.PasswordResetTokenMapper">

    <resultMap id="PasswordResetTokenResultMap" type="com.ucd.urbanflow.domain.pojo.PasswordResetToken">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="token" column="token"/>
        <result property="expiryDate" column="expiry_date"/>
        <result property="used" column="used"/>
    </resultMap>

    <select id="findByToken" resultMap="PasswordResetTokenResultMap">
        SELECT id, email, token, expiry_date, used
        FROM password_resets
        WHERE token = #{token}
    </select>

    <insert id="save" parameterType="com.ucd.urbanflow.domain.pojo.PasswordResetToken" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO password_resets (email, token, expiry_date, used)
        VALUES (#{email}, #{token}, #{expiryDate}, #{used})
    </insert>

    <update id="markAsUsed">
        UPDATE password_resets
        SET used = true
        WHERE token = #{token}
    </update>

</mapper>