<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucd.urbanflow.mapper.CongestedDurationRankingMapper">

    <insert id="insert" parameterType="com.ucd.urbanflow.domain.pojo.CongestedDurationRanking">
        INSERT INTO congestion_duration_ranking (time_bucket, junction_name, total_congestion_duration_seconds)
        VALUES (#{timeBucket}, #{junction_name}, #{total_congestion_duration_seconds})
    </insert>

</mapper>