<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucd.urbanflow.mapper.JunctionRegionsMapper">

    <resultMap id="JunctionInfoMap" type="com.ucd.urbanflow.domain.pojo.JunctionInfo">
        <result property="junctionId" column="junction_id"/>
        <result property="junctionName" column="junction_name"/>
    </resultMap>

    <select id="findJunctionsByArea" resultMap="JunctionInfoMap">
        SELECT DISTINCT junction_id, junction_name
        FROM junction_regions
        WHERE area = #{area}
    </select>

</mapper>